* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.Container {
  margin: 17px;
}
.menu {
  min-height: 100vh;
  padding: 10px;
  background-color: orangered;
  overflow: hidden;
  transition: 0.3s;
}
.manu-item {
  display: flex;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
}
.menu-item-title {
  min-width: 100%;
  font-family: "Montserrat", monospace;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  overflow: hidden;
}
.menu-item-icon {
  margin-right: 18px;
}
.manu-item:hover {
  background-color: rgba(255, 255, 255, 0.751);
  cursor: pointer;
}
.line {
  border: 1px solid rgb(172, 196, 172);
  width: 100%;
  margin-top: 8px;
}
